{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        // "browsers": ["Android >= 3.2"]
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8", "Android >= 4.2", "last 3 iOS versions"],
        
      },
      "useBuiltIns": "usage" //entry usage
    }]
    // "@babel/stage-2"
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}